<header class="navbar">
  <div class="left-section">
    <img src="assets/company-logo.png" alt="Company Logo" class="logo" />
  </div>
  <div class="right-section">
    <a routerLink="./home" routerLinkActive="active">Home</a>
    <a routerLink="./department" routerLinkActive="active">Department</a>
    <a routerLink="./employee" routerLinkActive="active">Employee</a>
    <a routerLink="./grademaster" routerLinkActive="active">GradeMaster</a>
    <a routerLink="./usermaster" routerLinkActive="active">UserMaster</a>
    <a (click)="logout()">Logout</a>
    <!-- Add logout link -->
  </div>
</header>
