.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
}

.right-section {
  display: flex;
}

.right-section a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.right-section a:hover {
  text-decoration: underline;
}

.right-section a.active {
  font-weight: bold;
  color: #ccc;
}
